<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.example.gp2021">

    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.WAKE_LOCK" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />

    <uses-feature
        android:name="android.hardware.camera"
        android:required="true" />

    <uses-permission android:name="android.permission.RECORD_AUDIO" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />

    <uses-feature android:name="android.hardware.camera.autofocus" />

    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.SYSTEM_ALERT_WINDOW" />

    <uses-feature android:name="android.hardware.camera.flash" />

    <uses-permission android:name="android.permission.FLASHLIGHT" />
    <uses-permission android:name="android.permission.VIBRATE" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/logo"
        android:label="@string/app_name"
        android:networkSecurityConfig="@xml/security_config"
        android:roundIcon="@drawable/logo"
        android:supportsRtl="true"
        android:theme="@style/Theme.GP2021"
        tools:replace="android:icon">
        <activity android:name=".ui.instructor.DetailsForOneExamActivity"></activity>
        <activity android:name=".ui.instructor.ExamsforOneSelectorActivity" />
        <activity android:name=".ui.instructor.RequestAnalyticsActivity" />

        <provider
            android:name="androidx.core.content.FileProvider"
            android:authorities="com.example.gp2021.fileprovider"
            android:exported="false"
            android:grantUriPermissions="true">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/file_paths" />
        </provider>

        <activity android:name=".ui.instructor.PredictPerformanceKnnActivity" />
        <activity android:name=".ui.instructor.RemoveCategory" />
        <activity android:name=".ui.instructor.AddCategory" />
        <activity android:name=".ui.instructor.DeleteExam" />
        <activity android:name=".ui.instructor.AddAnswers" />
        <activity android:name=".ui.instructor.CreateExam" />
        <activity android:name=".ui.instructor.CustomCamaraActivity" />
        <activity android:name=".ui.login.ForgetPassword" />
        <activity android:name=".ui.login.SignupActivity" />
        <activity android:name=".ui.instructor.Instructor_Mail" />
        <activity android:name=".ui.instructor.InstructorHome" />
        <activity android:name=".ui.instructor.GenratePDFActivity" />

        <activity android:name=".ui.academic.AcademicHome" />
        <activity
            android:name="com.theartofdev.edmodo.cropper.CropImageActivity"
            android:theme="@style/Base.Theme.AppCompat" />
        <activity
            android:name=".ui.login.LoginActivity"
            android:label="@string/app_name">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <meta-data
            android:name="com.facebook.sdk.ApplicationId"
            android:value="@string/facebook_app_id" />
        <meta-data
            android:name="com.google.android.gms.vision.DEPENDENCIES"
            android:value="ocr" />
    </application>

</manifest>